table{
    text-align: center;
    margin-left:30px;
}

thead th{
    border-bottom: 3px solid gray;
}

tbody td{
    border-bottom: 1px solid gray;
}

#date{
    min-width: 150px;
}

#member{
    min-width: 200px;
}

#result{
    min-width: 200px;
}