thead th {
    border-bottom:3px solid gray;
}

#idx{
    min-width: 50px;
}

#name{
    min-width: 100px;
}

#stdid{
    min-width: 100px;
}

#major{
    min-width: 200px;
}

#contact{
    min-width: 150px;
}

#nickname{
    min-width: 100px;
}

tr{
    text-align: center;
}

tr td{
    border-bottom: 1px solid gray;
}

table{
    margin-left: 30px;
}